<div class="d-flex flex-wrap gap-3 mb-2 justify-content-center">
  <span class="badge bg-success fs-6">Total Allocated: <%= total_allocated %></span>
  <span class="badge bg-info text-dark fs-6">Remaining Funds: <%= remaining_funds %></span>
  <span class="badge bg-primary fs-6">Total Votes: <%= total_votes %></span>
  <span class="badge bg-secondary fs-6">Participants: <%= participating_users %></span>
</div> 